# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db

# Django
*.log
.env
.env.*
*.pot
*.pyc
staticfiles/

# Virtual environment
.venv/
venv/
env/

# OS/editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
